<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>長さ</title>
</head>
<body>
    <p>文字数は<%= mojisuu %>です．</p>
    <p>注意事項：空白も１字として数えられます．</p>
    <hr>
    <form action="/length" method="get">
        <input type="text" name="str" required>
        <label for="str">入力欄</label>
        <input type="submit" values="数える">
    </form>
</body>
</html>