<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード</title>
</head>
<body>
    <p>パスワードは<%= pass %></p>
    <p>debug: <%= debug %></p>
    <hr>
    <form action="/pass" method="get">
        <input type="number" name="num1" required>
        <label for="num1">桁数を入力してください</label>
        <input type="submit" values="password">
    </form>
</body>
</html>