.cover {
    border-bottom: 1px solid #c0c0c0;
    margin: 3px;
}

.name {
    font-weight: bold;
    width: 8em;
}

.mes {
    margin-left: 30px;
}

.order {
    font-weight: bold;
    margin-right: 10px;
    color: #000000;
    font-size: 14px;
}

/* .del_button {
    float: right;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
} */

.reply_message {
    font-weight: bold;
    font-size: 0.8em;
    color: gray;
}